body {
  font-family: arial;
}

.clearfix {
  overflow: auto;
}

.journey-panel {
  width: 640px;
}

.journey-title {
  background-color: #eeeeee;
  color:#0d345d;
  padding: 23px 30px;
  font-size: 1.7em;
}

.journey-scheduled {
  font-weight: bold;
  padding-right: 10px;
}

.calling-point-wrapper {
  width:100%;
  overflow: hidden;
}

.calling-point {
  padding: 20px;
  color:#0d345d;
}

.calling-point-timings {
  float:left;
  padding-right: 20px;
  min-height: 50px;
}

.calling-point-scheduled-time {
  font-weight: bold;
  font-size: 2em;
}

.calling-point-departure-time {
  float: right;
  font-size: 1.3em;
}

.station-name {
  float:none;
  width:440px;
  font-size: 2em;
}

.departure-status {
  float:left;
  font-size: 1.4em;
}

.platform {
  float:right;
  font-size: 1.3em;
}

.late {
  color:#c91d30;
}

.visited {
  color:#999999;
}
